* {
  box-sizing: border-box;
}
body,
html {
  background: #000;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  color: white;
}

#app {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

main {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#note, aside {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

#note {
  max-width: 33rem;
}